[submodule "projects/cheatcodes/lib/forge-std"]
	path = projects/cheatcodes/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/fuzz_testing/lib/forge-std"]
	path = projects/fuzz_testing/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/test_filters/lib/forge-std"]
	path = projects/test_filters/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "projects/writing_tests/lib/forge-std"]
	path = projects/writing_tests/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
