.DS_Store
/book
/.idea
/.vscode

/cache/
/vocs/docs/snippets/projects/**/cache/
/out/
/zkout/
/projects/**/out/
/projects/**/zkout/
/vocs/snippets/projects/**/out/

/vocs/node_modules
/vocs/docs/dist
vocs/node_modules
vocs/docs/dist
_
links-report.json

/bin
