name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    name: vocs build

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Build Vocs
        run: cd vocs && bun install && bun run build
