name: build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    name: vocs build

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install bun
        uses: oven-sh/setup-bun@v2

      - name: Build Vocs
        run: bun install && bun --bun run build
