name: update

permissions: {}

on:
  schedule:
    # Run weekly
    - cron: "0 0 * * SUN"
  workflow_dispatch:
    # Needed so we can run it manually

jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          submodules: recursive

      - uses: dtolnay/rust-toolchain@nightly

      - name: Update
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "<>"
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          ./scripts/gen_output.sh

      - name: Create pull request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          token: ${{ secrets.PAT }}
          commit-message: "update command output"
          title: "chore(output): weekly command output update"
          body: |
            Automation to keep command output up to date.
          branch: chore/output-update
